@import 'vendor/reset.scss';
@import 'vendor/bootstrap/bootstrap-grid.scss';
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,600');

// Variables
$fomoblue: #449fca;

// Extends
.title-styles {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

// Styles
body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  color: grey;
  overflow-x: hidden;
    text-align: center;
}

main {
  padding-bottom: 20px;
}

* {
  box-sizing: border-box;
}

p {
  line-height: 1.3;
}

a {
  color: black;
  text-decoration: none;
}

h2 {
  @extend .title-styles;
  margin-bottom: 20px;
  text-decoration: underline;
}

img {
  max-width: 100%;
}

strong {
  font-weight: 600;
}

.logo{
    height: 95px;
    width: 150px;
    float: left;
    margin: 0;
}

nav{
    z-index: 10;
}

header {
  z-index: 10;
  background: $fomoblue;
  height: 100px;
  margin-bottom: 20px;
  border-bottom: 1px solid white;
  ul {
    li {
      display: inline-block;
      margin-top: 40px;
      margin-left: 30px;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 18px;
      &.logo {
        font-weight: 600;
        font-size: 16px;
      }
      &.burger {
        display: none;
        cursor: pointer;
        margin-top: 20px;
        font-size: 50px;
      }
      a {
        color:white;
        &:hover{
          text-decoration:overline;
        }
      }
    }
  }
  .dropdown {
    display: inline-block;
  }
}

.posts {
  &__single {
    border: 1px solid grey;
    padding: 10px;
    margin-bottom: 20px;
    &-image {
      margin-bottom: 10px;
      cursor: pointer;
      background-position: center;
      background-size: cover;
      &:after {
        content: '';
        display: block;
        padding: 50%;
      }
    }
  }
}

.post {
  h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  p {
    margin-bottom: 20px;
  }
}

.button {
  background-color: white;
  border: 1px solid white;
  padding: 6px 8px;
  font-size: 12px;
  font-weight: 300;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  &--full {
    width: 100%;
  }
  &:hover, &:focus {
    border: 2px solid $fomoblue;
    padding: 5px 7px;
    outline: none !important;
  }
}

.comments {
  margin-top: 40px;
  &__created {
    margin-bottom: 40px;
    li {
      margin-bottom: 5px;
      line-height: 1.3;
      .button {
        font-size: 8px;
        padding: 4px 6px;
        margin-left: 5px;
        &:hover {
          padding: 3px 5px;
        }
      }
    }
  }
}

// Form styles
form {
  label {
    @extend .title-styles;
    margin-bottom: 20px;
    display: block;
    font-size: 14px;
  }
  input {
    margin-bottom: 20px;
  }
  input[type="text"],
  input[type="password"],
  input[type="email"],
  textarea {
    background-color: white;
    border: 1px solid $fomoblue;
    padding: 6px 8px;
    font-weight: 300;
    color: $fomoblue;
    width: 100%;
    &:focus {
      outline: none !important;
      border: 2px solid $fomoblue;
      padding: 5px 7px;
    }
  }
  textarea {
    height: 75px;
    resize: none;
    margin-bottom: 5px;
    font-size: 14px;
  }
  button {
    width: 100%;
    &:not(:last-of-type) {
      margin-bottom: 10px;
    }
  }
}

// Flash messages
.message {
  background-color: white;
  border: 1px solid $fomoblue;
  padding: 6px 8px;
  font-size: 12px;
  color: $fomoblue;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

//====Landing page styles =======

.parallax{
  margin-top: -22px;
  opacity: 0.65;
  height: 90vh;
  width: 100%;
  background-image: url("../images/banner3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.content{
  height:50%;
  background-color:white;
  border-top: 10px solid black;
  p{
    padding: 15px;
    font-size:20px;
    font-family: 'Dosis', sans-serif;
  }
  h2{
    font-family: 'Open Sans Condensed', sans-serif;
  }
}




//footer
div.footer{
  border-top: 1px solid black;
  z-index:5;
  background-color: #FAFAF9;
  height:50px;
  text-align: center;
  color: black;
  // position: absolute;
  // right: 0;
  // bottom: 0;
  // left: 0;
  p{
    float:none;
    padding-top: 8px;
    padding-right: 30px;
    display:block;
    opacity: 0.7;
    height: 8px;
    font-size: 13px;
  }
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      float: left;
      margin-left: 20px;
      line-height: 40px;
      a {
        img {
          max-height: 30px;
          width: 30px;
        }
      }
    }
  }
}


@media only screen and (max-width: 767px){
  .post {
    img {
      margin-bottom: 20px;
    }
  }
  header {
    ul {
      li {
        color: white;
        margin: 0;
        &.burger {
          color: white;
          float: right;
          display: block;
        }
      }
    }
    .dropdown {
      display: none;
      position: absolute;
      right: 0;
      top: 50px;
      background-color: white;
      z-index: 10;
      text-align: right;
      padding: 15px;
      border-width: 0 1px 1px;
      border-style: solid;
      border-color: $fomoblue;
      &.open {
        display: block;
      }
      li {
        display: block;
        a{
          color:black;
        }
      }
    }
  }
}


// landing styles

#artist-landing{
  border-top: 10px solid black;
  background: url("../images/background1.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  a{
    height: 30px;
    padding-top: 50px;
  }
  h1{
    font-size: 35px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: white;
    display: block;

    margin: 0 auto;
    width: 40%;
    text-align: center;
    align-self: center;
    text-transform: uppercase;
    span{
      color: lightgrey;
    }
  }
  .artists{
    margin-top: -20px;
    border-right: 1px solid white;
    p{
      color: white;
      font-family: 'Roboto Slab', serif;
      font-size: 30px;
      margin-bottom: 20px;
    }
    img{
        height: 60vh;
        width: 60vh;
        border: 2px solid white;
        padding: 5px
    }
    span.text-content {
      color: white;
      cursor: pointer;
      display:flex;
      align-items: center;
      justify-content: center;
      position: absolute;
     top: -3vh;
     left:0;
     right:0;
     bottom:0;

}
span.text-content span {

  text-align: center;
  vertical-align: middle;
  background: rgba(0,0,0,0.5);
  height: 58.5vh;
  width: 59vh;
  display:flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  z-index: 100;
}
  }
}

// span.text-content span:hover{
//   opacity:1;
//   transition: opacity .2s ease-out;
//   -moz-transition: opacity .2s ease-out;
//   -webkit-transition: opacity .2s ease-out;
// }

#news-landing{
  border-top: 10px solid black;
  background: url("../images/background2.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  a{
    height: 30px;
    padding-top: 50px;
  }
  h1{
    font-size: 35px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: black;
    display: block;
    margin: 0 auto;
    width: 40%;
    text-align: center;
    align-self: center;
    text-transform: uppercase;
    span{
      color: grey;
    }
  }
  .news{
    margin-top: -20px;
    border-right: 1px solid black;
    p{
      color: black;
      font-family: 'Roboto Slab', serif;
      font-size: 20px;
    }
    img{
        height: 40vh;
        width: 40vh;
        border: 2px solid black;
        padding: 5px
    }
  }
}

#releases-landing{
  border-top: 10px solid black;
  background: url("../images/background3.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  a{
    height: 30px;
    padding-top: 50px;
  }
  h1{
    font-size: 35px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: black;
    display: block;
    margin: 0 auto;
    width: 40%;
    text-align: center;
    align-self: center;
    text-transform: uppercase;
    span{
      color: #cedbe6;
    }
  }
  .releases{
    margin-top: -20px;
    p{
      color: black;
      font-family: 'Roboto Slab', serif;
      font-size: 25px;

    }
    h3{
      color:white;
      font-family: 'Raleway', sans-serif;
      font-size: 20px;
      padding-bottom: 10px;
    }
    img{
        height: 60vh;
        width: 60vh;
        border: 2px solid black;
        padding: 5px
    }
  }
}



// animations

/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #f3f3ef;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}
